.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.App-header ul {
  padding: 0 2rem;
  margin: 0;
}

.App-header li {
  list-style-type: none;
  font-size: 1.125rem;
  padding: 1.5rem;
}

.App-header li:not(:last-child) {
  border-bottom: 1px solid white;
}

@media only screen and (min-width: 1280px) {
  .App-header {
    justify-content: center;
  }

  .App-header h1 {
    font-size: 3.5rem;
  }

  .App-header ul {
    display: flex;
    grid-gap: 1rem;
  }

  .App-header li {
    font-size: 1.5rem;
    border-top: none;
  }

  .App-header li:not(:last-child) {
    margin: 0;
    border: none;
  }
}
